
/* small screen */
@media screen and  (max-width: 576px)  {
/* body{
    background-color: red;
} */
    .nav-section{
     max-width: 80%;
        margin: 0 auto;
         }
.bar{
    display:block;
    color: white;
   font-size: 3rem;
    cursor: pointer;
    margin-top: 10px;
   }
.menu-list {
     display:none; 
    /* flex-direction: row; */
}

.nav-title{
    color: rgb(230, 83, 60);
  font-family: Inter;
  font-size: 2rem;
  font-weight: 800;
  line-height: 120%;
  font-style: italic;
  margin-top: 10px;
   }
.banner{
    flex-direction: column;
    /* justify-content: flex-start;
    align-items: flex-start;  */
    width: 100%;
   margin: 0 auto;  
     /* border: 3px solid blue;  */
}

.banner-text{
      margin-left: 10px; 
    margin-bottom: 25px;
    margin-top: 20px; 
    /* margin: 25px 25px; */
    /* text-align: left; */
    /* border: 3px solid brown; */
   
  } 
   .banner-title{
    color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 3rem;
}

.banner-description{
    /* body-text */
  color: rgba(255, 255, 255, 0.5);
 font-size: 1rem;
  }
/* .banner-right  {
     border:2px solid teal;   
  margin-left: 55px;  
} */
.banner-right img{
  width:100%;
}
.workout{
 
  width:100px;
  height: 100px;
  top:10%;
  left:55%;
  
 }
 .tutorial{
  width:130px;
  top: 70%;
 left:2%;
 
 }
 .banner-btn2{
  margin-top: 5px;
 }
 /* change habit */
 .habit-container{
  width:95%;
  margin:0 auto;
  /* border:3px solid blue; */
}
 .habit-images{
  display:grid;
  grid-template-columns: repeat(1,1fr);
  margin-top: 40px;
   gap:20px; 
}
.habit-card{
  margin-top: 10px;
  
}
.habit-title{
  font-size: 2rem;



}
.habit-subtitle{
  color: rgba(255, 255, 255, 0.5);
margin-top: 10px;
font-size: 0.7rem;
font-weight: 400;


}

/* run section */
.run-container{
  /* border:3px solid blue;  */
  width:100%;
  margin: 0 auto;
  background-color: #222222;
  display: flex;
  flex-direction: column;
 
   align-items: center; 
  margin-top: 90px;
  border-radius: 20px;
}

.run-details{
  margin-top: 40px;
 
  margin-bottom: 30px;
  text-align: left;
  margin-left: 0px;
}
.run-title{
 
  font-size: 3.5rem;
 
 }

 .join-now-btn{
  border-radius:25px;

margin-top: 10px;
padding: 20px 50px;
font-size: 1rem;
}
.run-img1{
  display: block;
  width:80%;
  margin: 0 auto;
  border-radius: 40px;
  border: none;
}
.run-img{
  display: none;
}

/* member start */
 .membership-container {
  width: 100%;
  margin-top: 30px;
}
.membership-text {
   width: 100%; 
   margin: 0 auto;
  text-align:center;
  /* padding: 10px; */
}
.membership-bottom{
  /* border: 3px solid cornflowerblue; */
  width:100%;
   margin: 0 auto; 
  gap: 40px;
}
.membership-card{
  /* border: 3px solid tomato; */
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  margin-top: 30px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; /* Center the text on smaller screens */
  gap: 10px; 
 
  

 }
.card{
  width:100%;

  /* margin: 0 auto;  */
  height: auto;
  gap: 30px;
  text-align: left;
  padding: 0px;
}


.best-value {
 margin-top: 10px;
  font-size: 0.7rem;
  padding: 5px 5px;
  left: 60%;
   
   
}

.card-title, .card-title1 {
  /* font-size: 1rem;
   margin-top: 10px;  */
   color:white;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 10px;
 
}

.card-title3 {
  font-size: 0.9rem;
}

.price {
  font-size: 1.2rem;
}

.dollar {
  font-size: 1.4rem;
}

.month {
  font-size: 1rem;
}

.card-description1, .card-description {
  font-size: 0.9rem;
  margin-top: 10px;
}

.btn-link {
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.learn-more {
  margin-bottom: 8px;
  font-size: 0.9rem;
}

.join-btn {
  margin-left: 0;
  margin-top: 8px;
  padding: 8px;
  width: 80%;
  font-size: 0.9rem;
}

.membership-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.membership-subtitle {
  font-size: 0.8rem;
  margin-bottom: 15px;
}
.card-title1{
 
  margin-top: 50px;
}

/* membership end */

















/* bmi calculate */
.bmi-calculator-section{
  width: 100%;
}
.bmi-calculator-description{
  /* border: 2px solid teal; */
  width:100%;
  /* margin: 0 auto; */
 margin-top: 50px;
}

.bmi-calculator-title{
  color: white;
font-size: 2.5rem;

}
.bmi-calculator-subtitle{
  color: rgba(255, 255, 255, 0.5);
font-size: 0.8rem;
}

/* .bmi-calculator-container{
  width: 90%;
   margin: 0 auto; 
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  
  gap: 10px;
 
} */
.bmi-calculator-bottom{
  background-color: #222222;
   /* width: 100%; 
   margin: 0 auto; */
 /* padding:0px 50px;  */

 width: 90%;
 margin: 0 auto; 
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
/* margin-top: 70px; */

gap: 10px;
}
  .bmi-calculator-chart{
    width: 100%; 
    margin: 0 auto;
    padding:20px;
  }
  

.bmi-calculator-chart-title{
  font-size: 1rem;
  text-align: left;
}
.bmi-calculate-btn{
  
padding: 15px 45px;
text-align: center;
}
 
table, th, td {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-collapse: collapse;
  gap:10px;
  /* width:60%; */
margin-top: 30px;
margin-left: 0px;
}
table{
  width:100%;
  height: 220px;
}
.bmi-calculate-form{
  /* border:2px solid tomato;   */
 /* margin-bottom: 10px;  */
 width: 90%;
} 
.bmi-calculate-form-title{

font-size: 2rem;
}
.bmi-calculate-form-subtitle{
  color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 0.8rem;
font-weight: 400;
line-height: 1rem;
margin-top: 10px;
}
.bmi-calculate-form-subtitle{
  color: rgba(255, 255, 255, 0.5);

font-size: 0.6rem;
font-weight: 400;
margin-left: 2px;
}
/* bmi end */


/* team section */
.team-section-card{
  width: 100%;
  /* border: 2px solid tomato; */
  background-color: #222222;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  
  
}
.team-text{
  position: absolute;
  top:70%;
  left: 5%;
}
/* footer */
footer{
  width:100%;
  /* margin-left: 5px; */
}
.footer-section{
  /* border: 4px solid salmon; */
  width: 100%;
  margin: 0 auto;
  height: auto;
  display:grid;
  grid-template-columns: 1fr;
 justify-items: left;
 align-items: left;
 padding: 0px;
 margin:0px;
   gap: 10px; 
  
  background-color: #1a1a1a;
}

.footer-left{
  margin-top:0px;
  width: 100%;
  margin: 0 auto;

}
.footer-description{
 font-size: 0.5rem;
}
.brand-name{
font-size: 2rem;

}
.get-start{
  color: rgb(255, 255, 255);
font-size: 0.8rem;
font-weight: 700;
line-height: 120%;
/* margin-top: 25px; */
width: 90%;
margin: 0px 10px;
margin-top: 10px;


}
.get-started a{
  text-decoration: none;
  display: flex;
  flex-direction: column;
  /* P1 Main/Regular */
color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 0.5rem;
font-weight: 400;
line-height: 120%;
gap: 18px;
margin-top: 18px;
/* width: 80%; */
 margin: 0px 10px;
 margin-top: 10px;

}

.hr-line {
  width: 100%;
  margin: 0 auto;
 ; 
 
} 
.copyright{
width: 100%;
margin: 0 auto;
}
}


 /* medium screen */
 @media screen and (min-width: 576px) and (max-width: 992px){
  .banner{
    flex-direction: column;
    /* justify-content: center;
    align-items: flex-start;  */
    width: 100%;
  
    margin: 0 auto;  
     /* border: 3px solid blue;  */
}
.banner-text{
  /* border: 2px solid teal; */
  width:80%;
  margin: 0 auto;
   margin-top: 50px; 
   margin-left: 50px;
 /* margin-right: 100px; */
}
.banner-right  {
  /* border:2px solid teal;  */
  width:90%; 
margin-left: 55px;  
}
.banner-right img{
  width:100%;
}
.workout{
 
  width:190px;
  height: 90px;
  top:24%;
  left:54%;
  
 }
 .tutorial{
  width:190px;
  height: 90px;
  top: 70%;
 left:3%;
 
 }

 /* change habit */

 .habit-container{
  width:95%;
  margin:0 auto;
  /* border:3px solid blue; */
}
 .habit-images{
  display:grid;
  grid-template-columns: repeat(2,1fr);
  margin-top: 40px;
   gap:30px; 
}
.habit-card{
  margin-top: 10px;
  
}
.habit-title{
  font-size: 2.2rem;

}
.habit-subtitle{
  color: rgba(255, 255, 255, 0.5);
margin-top: 10px;
font-size: 0.9rem;
font-weight: 400;
}

.habit-card-title{
  color: rgb(255, 255, 255);
font-size: 1.4rem;
font-weight: 400;
line-height: 120%;

margin-top: 5px;

}
.habit-card-subtitle{
  color: rgba(255, 255, 255, 0.5);
  
  font-size: 1rem;
  font-weight: 300;
  
  letter-spacing: 0.3px;
  
}

/* run */

.run-container{
  /* border:3px solid blue;  */
  width:100%;
  margin: 0 auto;
  background-color: #222222;
  display: flex;
  
   justify-content: center;
   align-items: center; 
  margin-top: 90px;
  border-radius: 20px;
}

.run-details{
  margin-top: 60px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}
.run-title{
  margin-top: 60px;
  font-size: 2.8rem;
 
 }

 .join-now-btn{
  border-radius:25px;

margin-top: 10px;
padding: 15px 90px;
font-size: 1rem;
}
/* .run-section-img{
  padding: 40px;
} */
.run-img1{
  display: block;
  width:85%;

  margin: 0 auto;
  border-radius: 40px;
  border: none;
}
.run-img{
  display: none;
}
/* bmi calculator */
.bmi-calculator-bottom{
  width: 100%;
  /* margin: 0 auto; */
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* margin-top: 70px; */
/* margin-left: 20px; */
  gap: 10px;
 
}
.bmi-calculator-description{
  /* border: 2px solid teal; */
  width:100%;
   margin: 0 auto; 
 margin-top: 50px;

}
.bmi-calculator-subtitle{
  font-size: 0.9rem;
}
.bmi-calculator-title{
  color: white;
font-size: 2.5rem;

}
.bmi-calculator-chart-title{
  font-size: 1.4rem;
  text-align: left;
  margin-left: 10px;
}
.bmi-calculate-form{
  width: 80%;
}
.bmi-form{
  width: 100%;
}
table{
  width:90%;
  margin-left: 10px;
}


/* meet our team */
.team-text{
  position: absolute;
  top:78%;
  left: 5%;
}
.trainer-name{
  color:white;
  font-size: 0.8rem;

}
.trainer{
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.5rem;
}

/* footer */

/* footer{
  margin-left: 15px;
}  */
.footer-section{
  /* border: 4px solid salmon; */
  width: 100%;
  margin: 0 auto;
  height: auto;
  display:grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: auto 1fr;
 justify-items:start;
 /* align-items: left; */
 padding: 0px;
 margin:0px;
   /* gap: 10px;  */
  
  background-color: #1a1a1a;
}

.footer-left{
  margin-top:0px;
  width: 70%;
  margin: 0 auto;
  grid-column: 1 / -1; 


}
.footer-description{
 font-size: 0.5rem;
  /* padding: 5px;
 padding-left: 0px;
 margin: 5px; */
} 
.brand-name{
font-size: 2rem;
margin-left: 4px;

}
.get-start{
  color: rgb(255, 255, 255);
font-size: 1rem;
font-weight: 700;
line-height: 120%;
margin-top:0px;
 /* width: 70%;
margin: 0 50px;  */




}
.get-started{
   /* border: 2px solid blue;  */
  display: flex;
  justify-content: space-between;
  /* margin-right: 20px; */
 width: 90%;
 margin: 0 auto;
  gap: 10px;
   text-align: center; 
 
}
.start{
  width:80%;
  margin: 0 auto;
}
.start a{
  text-decoration: none;
  display: flex;
  flex-direction: column; 
  text-align: center;
font-size: 0.5rem;
font-weight: 400;
line-height: 120%;
width: 100%;
margin: 0px;
padding: 0px 10px;
margin-top:10px;
/* width: 70%;
margin: 0 60px;
margin-top: 10px; */
}

.hr-line {
  width: 100%;
  margin: 0 auto;
 ; 
 
} 
.copyright{
width: 100%;
margin: 0 auto;
}
}